---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE } from '../consts';
import font400 from "@fontsource/fraunces/files/fraunces-latin-400-normal.woff2?url"
import font800 from "@fontsource/fraunces/files/fraunces-latin-800-normal.woff2?url"

interface Props {
	title: string;
	description: string;
	image?: string;
	pubDate: Date;
	updatedDate: Date;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = '/blog-placeholder-1.jpg', pubDate, updatedDate } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href={font400} as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href={font800} as="font" type="font/woff2" crossorigin="anonymous" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
{pubDate ? <meta property="og:type" content="article" /> : <meta property="og:type" content="website" /> }
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
{pubDate ? <meta property="article:published_time" content={pubDate.toISOString()} /> : null}
{updatedDate ? <meta property="article:modified_time" content={updatedDate.toISOString()}/> : null}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
