---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import {SITE_TITLE} from "@consts";
const { title = SITE_TITLE, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={title} description={description} image={heroImage}
              pubDate={pubDate} updatedDate={updatedDate} />
</head>
<body class="flex flex-col text-base-content bg-base-100 min-h-screen font-fraunces">
    <Header />
    <main class="flex-1 py-6 px-4 lg:px-12 container mx-auto">
        <slot />
    </main>
    <Footer />
</body>
</html>